<div class="container">


  <div class="row">
    <div class="col-sm-4">
      <h1>Profil: {{user.knownAs}} </h1>
    </div>

    <div class="col-sm-8">

          <div *ngIf="editForm.dirty" class="alert alert-info">
            <strong>Czy profil był edytowany?</strong> Zapisz zmiany aby zachowac nowe dane!
          </div>


    </div>


  </div>




  <div class="row">

    <div class="col-sm-4">

      <div class="card">

        <div>
          <img class="profile-imge img-thumbnail" src="{{user?.photoUrl}}" alt="{{user?.knownAs}}">
        </div>

        <div class="card-body myBody">
          <div>
            <strong>Location</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>

          <div>
            <strong>Age</strong>
            <p>{{user.age}}</p>
          </div>

          <div>
            <strong>Last Activate</strong>
            <p>{{user.lastActivate | date}}</p>
          </div>

          <div>
            <strong>Member Since</strong>
            <p>{{user.created | date}}</p>
          </div>

        </div>

        <div class="card-footer">

          <div>

            <div class="btn-group btn-group-justified">
              <button [disabled]="!editForm.dirty" class="btn btn-success" form="editForm" (click)="updateUser()"> Save Changes </button>
            </div>

          </div>


        </div>


      </div>
    </div>

    <div class="col-sm-8">



      <tabset class="tabsMagin">

        <tab heading="Edytuj swój profil" id="tab1">

        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
            <h4>Interests</h4>
            <textarea class="form-control"  name="interests" rows="6" [(ngModel)]="user.interests"></textarea>

            <br/>
            <h4>Looking For</h4>
            <textarea class="form-control" name="lookingFor" rows="6" [(ngModel)]="user.lookingFor"></textarea>

            <br/>
            <h4>Location</h4>
            <div class="form-inline">

              <label for="city">City:</label>
              <input class="form-control" type="text" name="city" [(ngModel)]="user.city">

              <label for="city">Country:</label>
              <input class="form-control" type="text" name="country" [(ngModel)]="user.country">

            </div>

        </form>

        </tab>

        <tab heading="Edit Photos" id="tab1">
            <p>Photow will be here</p>
        </tab>



      </tabset>


    </div>


  </div>
</div>
