


<div class="container">

  <div class="row myMarginIntutForm">

    <form class="form-inline" #filterForm = "ngForm" (ngSubmit)="filterList()">
      <div class="form-group myMarginIntut">
        <label for="">Age From:  </label>
        <input type="number" name="minAge" id="minAge" class="form-control "  placeholder="" aria-describedby="helpId" [(ngModel)]="userParama.minAge">

      </div>

      <div class="form-group myMarginIntut">
        <label for="">Age to:  </label>
        <input type="number" name="maxAge" id="maxAge" class="form-control" placeholder="" aria-describedby="helpId" [(ngModel)]="userParama.maxAge">
      </div>

      <div class="form-group myMarginIntut">
        <label for="">Gender:  </label>
        <select class="form-control" name="gender" [(ngModel)]="userParama.gender">
          <option *ngFor="let gender of genderList" [value]="gender.value" >
            {{gender.display}}
          </option>

        </select>
      </div>


      <button type="submit" name="" id=""  class="btn btn-primary myMarginIntut"> Filter </button>
      <button type="button" name="" id=""  class="btn btn-default myMarginIntut" (click)="resetFilder(filterForm)"> Reset </button>

      <div class="form-group myMarginIntut">
          <label for="">Sort by: </label>
          <label class="btn btn-primary myMarginIntut"  btnCheckbox (click)="sortBy('last')">Last Active</label>
          <label class="btn btn-primary myMarginIntut"  btnCheckbox (click)="sortBy('created')">Newest</label>
      </div>

    </form>

  <!-- <div class="btn-group">
    <label class="btn btn-primary" [(ngModel)]="checkModel.left" btnCheckbox>Left</label>
    <label class="btn btn-primary" [(ngModel)]="checkModel.right" btnCheckbox>Right</label>
  </div> -->

  </div>


  <div class="row">
    <div *ngFor="let user of users" class="col-lg-3 col-md-4 col-sm-6">
        <app-member-card [user]="user"></app-member-card>
    </div>
  </div>


<div class="row">
  <div class="col-xs-12 col-12">
    <pagination [totalItems]="totalItems" [(ngModel)]="curentPage" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>


</div>



<!-- <button type="button" class="btn btn-info" (click)="setPage(3)">Set current page to: 3</button> -->

