<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">

      <form class="form-signin" [formGroup]="registerForm"  (ngSubmit)="register()">
        <div class="text-center mb-4">
          <p class="fa fa-edit fa-3x"></p>
          <h1 class="h3 mb-3 font-weight-normal">REJESTRACJA</h1>
          <p>Build form controls with floating labels via the
            <code>:placeholder-shown</code> pseudo-element.
            <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a>
          </p>
        </div>

        <div>
          <label for="">I am a:</label>
          <label for="">
            <input type="radio" value="male" formControlName="gender"> Male
          </label>
            <label for="">
              <input type="radio" value="female" formControlName="gender">Female
            </label>
        </div>_

        <div class="form-label-group">
          <label for="inputEmail">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address"  autofocus=""
          formControlName="userName"
 [ngClass]="{'myError': registerForm.get('userName').errors && registerForm.get('userName').touched }" >

<span class="help-block" *ngIf=" registerForm.get('userName').errors && registerForm.get('userName').touched">Ble ble</span>

        </div>

          <div class="form-label-group">
            <label for="inputEmail">Know As</label>
            <input type="text" class="form-control" placeholder="Email address" autofocus="" formControlName="knownAs"
              [ngClass]="{'myError': registerForm.get('knownAs').errors && registerForm.get('knownAs').touched  }">
            <span class="help-block" *ngIf=" registerForm.get('knownAs').errors && registerForm.get('knownAs').touched">Ble ble</span>
          </div>

            <div class="form-label-group">
            <label for="inputEmail">Date of birth</label>

            <input bsDatepicker  [bsConfig]="bsConfig" type="text" class="form-control" placeholder="Email address" autofocus="" formControlName="dateOfBirth"
              [ngClass]="{'myError': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched  }">
            <span class="help-block" *ngIf=" registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched">Ble ble</span>
          </div>

            <div class="form-label-group">
            <label for="inputEmail">City </label>
            <input type="text" class="form-control" placeholder="Email address" autofocus="" formControlName="city"
              [ngClass]="{'myError': registerForm.get('city').errors && registerForm.get('city').touched  }">
            <span class="help-block" *ngIf=" registerForm.get('city').errors && registerForm.get('city').touched">Ble ble</span>
          </div>

            <div class="form-label-group">
            <label for="inputEmail">Country</label>
            <input type="text" class="form-control" placeholder="Email address" autofocus="" formControlName="country"
              [ngClass]="{'myError': registerForm.get('country').errors && registerForm.get('country').touched  }">
            <span class="help-block" *ngIf=" registerForm.get('country').errors && registerForm.get('country').touched">Ble ble</span>
          </div>

        <div class="form-label-group">
          <label for="inputPassword">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password"  formControlName="password">
          <span class="help-block" *ngIf=" registerForm.get('password').errors && registerForm.get('password').touched">Minimum 3 znaki</span>
          <span class="help-block" *ngIf=" registerForm.get('password').errors && registerForm.get('password').touched">Maximum 8 znaków</span>
        </div>

        <div class="form-label-group">
          <label for="inputPassword">Password</label>
          <input type="password" id="confirmPassword" class="form-control" placeholder="Password" formControlName="confirmpassword">
          <span class="help-block"
          *ngIf="registerForm.get('confirmpassword').touched
          && registerForm.hasError('passwordCheck')">
          Hasła nie są identyczne</span>

        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!registerForm.valid">Zarejestruj się </button>
        <button class="btn btn-sm btn-secondary btn-block" (click)="cancelRegister()"> Anuluj rejestracje </button>
        <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
      </form>
    </div>
  </div>
</div>

<pre>
  <p>{{registerForm.value | json}}</p>
  <p>{{registerForm.status | json}}</p>

</pre>
