<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" role="navigation">

  <div class="container">
<a class="navbar-brand" [routerLink]="[ '']">Home</a>

    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-collapse" id="exCollapsingNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/members']" routerLinkActive="myLinkActive">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/list']" routerLinkActive="myLinkActive">List</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/messages']" routerLinkActive="myLinkActive">Messages</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/login']" routerLinkActive="myLinkActive">Login</a>

        </li>


        <li class="nav-item dropdown" dropdown>

          <a class="nav-link" dropdownToggle>Click me for a dropdown, yo!</a>
          <ul *dropdownMenu class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">1111</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">2222</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">-----</a>
        </li>
      </ul>
      <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
        <li class="nav-item order-2 order-md-1">
          <a href="#" class="nav-link" title="settings">
            <i class="fa fa-cog fa-fw fa-lg"></i>
          </a>
        </li>

        <li *ngIf="!loggedIn()" class="dropdown order-1">
          <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login
            <span class="caret"></span>
          </button>

          <ul  class="dropdown-menu dropdown-menu-right mt-1">
            <li class="p-3">

              <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form" role="form">
                <div class="form-group">
                  <input [(ngModel)]="model.username" required name="username" id="emailInput" placeholder="Login" class="form-control form-control-sm"
                    type="text">
                </div>
                <div class="form-group">
                  <input [(ngModel)]="model.password" required name="password" id="passwordInput" placeholder="Password" class="form-control form-control-sm"
                    type="text">
                </div>
                <div class="form-group">
                  <button  type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid" (click)="login()">Login</button>
                </div>
                <div class="form-group text-xs-center">
                  <small>
                    <a href="#">Forgot password?</a>
                  </small>
                </div>
              </form>

            </li>
          </ul>
        </li>
        <li *ngIf="loggedIn()" class="nav-item myLogOut">
          <a (click)="logOut()" class="nav-link ">Wyloguj {{uniqueName}} | </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
